<p>Hi {{name}},</p>

<p>You has successfully changed your password</p>

<p>Click the link below to login to your dashboard</p>
<p>
  <a href='{{link}}'>Login</a>
</p>

<p>If you have any issues kindly reply this email.</p>

<p>
  Regards,
  <br />
  {{APP_NAME}} Team.
</p>